/*
 ----- QSplitter
*/
QSplitter {
  min-height: 18px;
  min-width: 18px;
  max-height: 18px;
  max-width: 18px;
  background: transparent;
}

QSplitter::handle:horizontal {
  image: url(ui/DotsVertical.png);
}
QSplitter::handle:vertical {
  image: url(ui/DotsHorizontal.png);
}

/*
 ----- QCheckBox
*/
QCheckBox,
QRadioButton {
  color: white;
  spacing: 5px;
}

QTreeView::indicator,
QTableView::indicator,
QListView::indicator,
QRadioButton::indicator,
QGroupBox::indicator,
QCheckBox::indicator {
  width: 24px;
  height: 24px;
}

QTreeView::indicator:unchecked,
QTableView::indicator::unchecked,
QListView::indicator::unchecked,
QRadioButton::indicator:unchecked,
QGroupBox::indicator:unchecked,
QCheckBox::indicator:unchecked {
  image: url(ui/CheckBoxEmpty.png);
}

QTreeView::indicator:unchecked:hover,
QTableView::indicator::unchecked:hover,
QListView::indicator::unchecked:hover,
QRadioButton::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:hover {
  image: url(ui/CheckBoxEmptyHover.png);
}

QTreeView::indicator:unchecked:pressed,
QTableView::indicator::unchecked:pressed,
QListView::indicator::unchecked:pressed,
QRadioButton::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:pressed,
QCheckBox::indicator:unchecked:pressed {
  image: url(ui/CheckBoxCheckedHover.png);
}

QTreeView::indicator:checked,
QTableView::indicator::checked,
QListView::indicator::checked,
QRadioButton::indicator:checked,
QGroupBox::indicator:checked,
QCheckBox::indicator:checked {
  image: url(ui/CheckBoxChecked.png);
}

QTreeView::indicator:checked:hover,
QTableView::indicator::checked:hover,
QListView::indicator::checked:hover,
QRadioButton::indicator:checked:hover,
QGroupBox::indicator:checked:hover,
QCheckBox::indicator:checked:hover {
  image: url(ui/CheckBoxCheckedHover.png);
}

QTreeView::indicator:checked:pressed,
QTableView::indicator::checked:pressed,
QListView::indicator::checked:pressed,
QRadioButton::indicator:checked:pressed,
QGroupBox::indicator:checked:pressed,
QCheckBox::indicator:checked:pressed {
  image: url(ui/CheckBoxCheckedHover.png);
}

QTreeView::indicator:indeterminate:hover,
QTableView::indicator::indeterminate:hover,
QListView::indicator::indeterminate:hover,
QRadioButton::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:hover {
  image: url(ui/CheckBoxCheckedHover.png);
}

QTreeView::indicator:indeterminate:pressed,
QTableView::indicator::indeterminate:pressed,
QListView::indicator::indeterminate:pressed,
QRadioButton::indicator:indeterminate:pressed,
QGroupBox::indicator:indeterminate:pressed,
QCheckBox::indicator:indeterminate:pressed {
  image: url(ui/CheckBoxCheckedHover.png);
}


/*
 ----- QGroupBox, QTabWidget
*/
QGroupBox,
QTabWidget::pane {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
}

CResourceModelView>QTabWidget::pane {
  border: 0;
  border-radius: 0px;
  padding: 0px;
}

QGroupBox::title {
  color: white;
  subcontrol-origin: margin;
  subcontrol-position: top center; /* position at the top center */
  padding: 0 3px;
}

QTabWidget::tab-bar {
  left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/Button.png) 0 50 0 50 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 50px transparent;
  border-left: 50px transparent;
  min-width: 100px;
  min-height: 30px;
}

QTabBar::tab:selected,
QTabBar::tab:hover {
  border-image: url(ui/ButtonHover.png) 0 50 0 50 stretch stretch;
}

QTabBar::tab:selected {
  border-image: url(ui/ButtonPressed.png) 0 50 0 50 stretch stretch;
}

QTabBar::tab:!selected {
  margin-top: 2px; /* make non-selected tabs look smaller */
}

QTabBar::tab:disabled {
  min-width: 0px;
  max-width: 0px;
  border: none;
  border-radius: 0px;
  padding: 0px;
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
}

/*
 ----- QLabel, QToolTip, CTitleLabel
*/
QLabel {
  color: white;
  background-color: transparent;
}

QLabel#SearchIcon {
  border-image: url(ui/ButtonSearch.png);
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}
QLabel#PlayButton {
  border-image: url(ui/ButtonPlay.png);
}
QLabel#ExitButton {
  border-image: url(ui/ButtonExit.png);
}
QLabel#WarningIcon {
  border-image: url(ui/WarningIcon.png);
}
QLabel#ErrorIcon {
  border-image: url(ui/IconX.png);
}
QLabel#IconBackground {
  qproperty-pixmap: url(ui/IconBg.svg);
}
QLabel#ReadOnly {
  border-image: url(ui/ButtonReadOnly.png);
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

QToolTip {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
}

CTitleLabel {
  color: black;
  background-color: transparent;
  qproperty-outlineColor: rgba(255, 255, 255, 255);
  border: 0px;
  border-radius: 0px;
}

/*
 ----- QLineEdit
*/
QLineEdit {
  color: white;
  background-color: rgb(0, 0, 0);
  border: 2px solid silver;
  border-radius: 10px;
  padding: 3px;
  min-height: 16px;
  selection-background-color: rgb(23, 7, 56);
}

QLineEdit[echoMode="2"] {
  lineedit-password-character: 9679;
}

QLineEdit:disabled,
QLineEdit:read-only {
  background-color: black;
}

QComboBox[styleSmall="true"] QLineEdit {
  min-height: 0px;
  border-radius: 0px;
}

/*
 ----- QPushButton, QToolButton
*/
QPushButton, QToolButton {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/Button.png) 0 50 0 50 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 50px transparent;
  border-left: 50px transparent;
  min-height: 30px;
}

QPushButton#AddShowBackgroundCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonBackground.png) off,
                  url(ui/ButtonBackground.png) on;
}
QPushButton#AddShowIconCode,
QPushButton#SourceButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonIcon.png) off,
                  url(ui/ButtonIcon.png) on;
}
QPushButton#AddShowImageCode,
QPushButton#AddImageCode,
QToolButton#f_image {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonImage.png) off,
                  url(ui/ButtonImage.png) on;
}
QPushButton#AddTextCode,
QPushButton#AddSayCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonText.png) off,
                  url(ui/ButtonText.png) on;
}
QPushButton#AddMetronomeCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonMetronome.png) off,
                  url(ui/ButtonMetronome.png) on;
}
QPushButton#AddTimerCode,
QPushButton#AddTimerCode2 {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonClock.png) off,
                  url(ui/ButtonClock.png) on;
}
QPushButton#AddNotificationCodee,
QPushButton#AddNotificationCreateCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonNotification.png) off,
                  url(ui/ButtonNotification.png) on;
}
QPushButton#DebugButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonPlay.png) off,
                  url(ui/ButtonPlay.png) on;
}
QPushButton#StopDebugButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonStop.png) off,
                  url(ui/ButtonStop.png) on;
}
QPushButton#PauseButton {
  border-image: url(IconBg.svg) 0 0 0 0 stretch stretch;
  qproperty-icon: url(ui/ButtonPause.png) off,
                  url(ui/ButtonPause.png) on;
}
QPushButton#PlayButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonPlay.png) off,
                  url(ui/ButtonPlay.png) on;
}
QPushButton#StopButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonStop.png) off,
                  url(ui/ButtonStop.png) on;
}
QPushButton#AddThreadCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonThread.png) off,
                  url(ui/ButtonThread.png) on;
}
QPushButton#ExitButton,
QPushButton#AddEndCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonExit.png) off,
                  url(ui/ButtonExit.png) on;
}
QPushButton#SaveButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonSave.png) off,
                  url(ui/ButtonSave.png) on;
}
QPushButton#AddPatternElemButton,
QPushButton#AddResourceButton,
QPushButton#AddButtonButton,
QPushButton#AddTextColorButton,
QPushButton#AddBGColorButton,
QPushButton#AddFetishButton,
QPushButton#AddButtonButton {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonPlus.png) off,
                  url(ui/ButtonPlus.png) on;
}
QPushButton#AddWebResourceButton,
QToolButton#f_link {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonWeb.png) off,
                  url(ui/ButtonWeb.png) on;
}
QPushButton#MapButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonMap.png) off,
                  url(ui/ButtonMap.png) on;
}
QPushButton#RemovePatternElemButton,
QPushButton#RemoveResourceButton,
QPushButton#RemoveButtonButton,
QPushButton#RemoveTextColorButton,
QPushButton#RemoveBGColorButton,
QPushButton#RemoveFetishButton,
QPushButton#RemoveCode,
QPushButton#RemoveButtonButton {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonMinus.png) off,
                  url(ui/ButtonMinus.png) on;
}
QPushButton#TitleCardButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonTitleCard.png) off,
                  url(ui/ButtonTitleCard.png) on;
}
QPushButton#TagsButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonTag.png) off,
                  url(ui/ButtonTag.png) on;
}
QPushButton#AddNodeButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonPlus.png) off,
                  url(ui/ButtonPlus.png) on;
}
QPushButton#RemoveNodeButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonMinus.png) off,
                  url(ui/ButtonMinus.png) on;
}
QPushButton#HelpButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonHelp.png) off,
                  url(ui/ButtonHelp.png) on;
}
QPushButton#ForardButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonPlay.png) off,
                  url(ui/ButtonPlay.png) on;
}
QPushButton#BackButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonBack.png) off,
                  url(ui/ButtonBack.png) on;
}
QPushButton#HomeButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonHome.png) off,
                  url(ui/ButtonHome.png) on;
}
QPushButton#CloseButton {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonX.png) off,
                  url(ui/ButtonX.png) on;
}
QPushButton#FetishOverlayButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonDotsHoriz.png) off,
                  url(ui/ButtonDotsHoriz.png) on;
}
QPushButton#ExportButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonExport.png) off,
                  url(ui/ButtonExport.png) on;
}
QPushButton#AddScriptFile {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonCode.png) off,
                  url(ui/ButtonCode.png) on;
}
QPushButton#AddLayoutFile {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonLayout.png) off,
                  url(ui/ButtonLayout.png) on;
}
QPushButton#UndoButton,
QToolButton#f_undo {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonUndo.png) off,
                  url(ui/ButtonUndo.png) on;
}
QPushButton#RedoButton,
QToolButton#f_redo {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonRedo.png) off,
                  url(ui/ButtonRedo.png) on;
}
QPushButton#TreeViewButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonTree.png) off,
                  url(ui/ButtonTree.png) on;
}
QPushButton#ExplorerViewButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/FolderIcon.png) off,
                  url(ui/FolderIcon.png) on;
}
QPushButton#CdUpButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonDotDot.png) off,
                  url(ui/ButtonDotDot.png) on;
}
QPushButton#DownloadButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonDownload.png) off,
                  url(ui/ButtonDownload.png) on;
}
QPushButton#eResourceWidget {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonResourceWidget.png) off,
                  url(ui/ButtonResourceWidget.png) on;
}
QPushButton#eResourceDisplay {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonResourceDisplay.png) off,
                  url(ui/ButtonResourceDisplay.png) on;
}
QPushButton#eProjectSettings {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonProjectSettings.png) off,
                  url(ui/ButtonProjectSettings.png) on;
}
QPushButton#eSceneNodeWidget {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonSceneNodeWidget.png) off,
                  url(ui/ButtonSceneNodeWidget.png) on;
}
QPushButton#eSceneCodeEditorWidget {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonCode.png) off,
                  url(ui/ButtonCode.png) on;
}
QPushButton#AddAutioCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonAudio.png) off,
                  url(ui/ButtonAudio.png) on;
}
QPushButton#AddPromptCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonPrompt.png) off,
                  url(ui/ButtonPrompt.png) on;
}
QPushButton#AddChoiceCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonChoice.png) off,
                  url(ui/ButtonChoice.png) on;
}
QPushButton#AddIfCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonIf.png) off,
                  url(ui/ButtonIf.png) on;
}
QPushButton#AddEvalCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonEval.png) off,
                  url(ui/ButtonEval.png) on;
}
QPushButton#AddGotoCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonGoto.png) off,
                  url(ui/ButtonGoto.png) on;
}
QPushButton#AddEnableCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonEnable.png) off,
                  url(ui/ButtonEnable.png) on;
}
QPushButton#AddDisableCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonDisable.png) off,
                  url(ui/ButtonDisable.png) on;
}
QPushButton#AddNotificationCloseCode {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonNotificationClose.png) off,
                  url(ui/ButtonNotificationClose.png) on;
}
QPushButton#SearchButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonSearch.png) off,
                  url(ui/ButtonSearch.png) on;
}
QToolButton#f_bold {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonBold.png) off,
                  url(ui/ButtonBold.png) on;
}
QToolButton#f_italic {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonItalic.png) off,
                  url(ui/ButtonItalic.png) on;
}
QToolButton#f_underline {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonUnderline.png) off,
                  url(ui/ButtonUnderline.png) on;
}
QToolButton#f_strikeout {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonStrikethrough.png) off,
                  url(ui/ButtonStrikethrough.png) on;
}
QToolButton#f_list_bullet {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonUList.png) off,
                  url(ui/ButtonUList.png) on;
}
QToolButton#f_list_ordered {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonOList.png) off,
                  url(ui/ButtonOList.png) on;
}
QToolButton#f_indent_dec {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonUnindent.png) off,
                  url(ui/ButtonUnindent.png) on;
}
QToolButton#f_indent_inc {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonIndent.png) off,
                  url(ui/ButtonIndent.png) on;
}
QPushButton#ToolsButton {
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  qproperty-icon: url(ui/ButtonTools.png) off,
                  url(ui/ButtonTools.png) on;
}
QPushButton#ErrorPushButton {
  padding: 0px;
  min-width: 18px;
  min-height: 18px;
  max-width: 18px;
  max-height: 18px;
  qproperty-iconSize: 18px;

  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}

QPushButton#AddShowBackgroundCode:hover,
QPushButton#AddShowIconCode:hover,
QPushButton#SourceButton:hover,
QPushButton#AddShowImageCode:hover,
QPushButton#AddTextCode:hover,
QPushButton#AddMetronomeCode:hover,
QPushButton#AddTimerCode:hover,
QPushButton#AddNotificationCode:hover,
QPushButton#DebugButton:hover,
QPushButton#StopDebugButton:hover,
QPushButton#PauseButton:hover,
QPushButton#PlayButton:hover,
QPushButton#StopButton:hover,
QPushButton#ExitButton:hover,
QPushButton#SaveButton:hover,
QPushButton#AddPatternElemButton:hover,
QPushButton#AddResourceButton:hover,
QPushButton#AddWebResourceButton:hover,
QPushButton#MapButton:hover,
QPushButton#RemovePatternElemButton:hover,
QPushButton#RemoveResourceButton:hover,
QPushButton#TitleCardButton:hover,
QPushButton#TagsButton:hover,
QPushButton#AddNodeButton:hover,
QPushButton#RemoveNodeButton:hover,
QPushButton#HelpButton:hover,
QPushButton#ForardButton:hover,
QPushButton#BackButton:hover,
QPushButton#HomeButton:hover,
QPushButton#CloseButton:hover,
QPushButton#FetishOverlayButton:hover,
QPushButton#ExportButton:hover,
QPushButton#AddScriptFile:hover,
QPushButton#AddLayoutFile:hover,
QPushButton#UndoButton:hover,
QPushButton#RedoButton:hover,
QPushButton#DownloadButton:hover,
QPushButton#eResourceWidget:hover,
QPushButton#eResourceDisplay:hover,
QPushButton#eProjectSettings:hover,
QPushButton#eSceneNodeWidget:hover,
QPushButton#eSceneCodeEditorWidget:hover,
QPushButton#AddAutioCode:hover,
QPushButton#AddPromptCode:hover,
QPushButton#AddChoiceCode:hover,
QPushButton#AddIfCode:hover,
QPushButton#AddEvalCode:hover,
QPushButton#AddGotoCode:hover,
QPushButton#AddEnableCode:hover,
QPushButton#AddDisableCode:hover,
QPushButton#AddNotificationCloseCode:hover,
QPushButton#AddImageCode:hover,
QPushButton#AddSayCode:hover,
QPushButton#AddTimerCode2:hover,
QPushButton#AddNotificationCreateCode:hover,
QPushButton#AddEndCode:hover,
QPushButton#RemoveCode:hover,
QPushButton#SearchButton:hover,
QPushButton#RemoveButtonButton:hover,
QPushButton#AddButtonButton:hover,
QToolButton#f_image:hover,
QToolButton#f_link:hover,
QToolButton#f_undo:hover,
QToolButton#f_redo:hover,
QToolButton#f_bold:hover,
QToolButton#f_italic:hover,
QToolButton#f_underline:hover,
QToolButton#f_strikeout:hover,
QToolButton#f_list_bullet:hover,
QToolButton#f_list_ordered:hover,
QToolButton#f_indent_dec:hover,
QToolButton#f_indent_inc:hover,
QPushButton#ToolsButton:hover,
QPushButton#ErrorPushButton:hover {
  border-image: url(ui/IconBgHover.svg) 0 0 0 0 stretch stretch;
}

QPushButton#AddShowBackgroundCode:pressed,
QPushButton#AddShowIconCode:pressed,
QPushButton#SourceButton:pressed,
QPushButton#AddShowImageCode:pressed,
QPushButton#AddTextCode:pressed,
QPushButton#AddMetronomeCode:pressed,
QPushButton#AddTimerCode:pressed,
QPushButton#AddNotificationCode:pressed,
QPushButton#DebugButton:pressed,
QPushButton#StopDebugButton:pressed,
QPushButton#PauseButton:pressed,
QPushButton#PlayButton:pressed,
QPushButton#StopButton:pressed,
QPushButton#ExitButton:pressed,
QPushButton#SaveButton:pressed,
QPushButton#AddPatternElemButton:pressed,
QPushButton#AddResourceButton:pressed,
QPushButton#AddWebResourceButton:pressed,
QPushButton#MapButton:pressed,
QPushButton#RemovePatternElemButton:pressed,
QPushButton#RemoveResourceButton:pressed,
QPushButton#TitleCardButton:pressed,
QPushButton#TagsButton:pressed,
QPushButton#AddNodeButton:pressed,
QPushButton#RemoveNodeButton:pressed,
QPushButton#HelpButton:pressed,
QPushButton#ForardButton:pressed,
QPushButton#BackButton:pressed,
QPushButton#HomeButton:pressed,
QPushButton#CloseButton:pressed,
QPushButton#FetishOverlayButton:pressed,
QPushButton#ExportButton:pressed,
QPushButton#AddScriptFile:pressed,
QPushButton#AddLayoutFile:pressed,
QPushButton#UndoButton:pressed,
QPushButton#RedoButton:pressed,
QPushButton#DownloadButton:pressed,
QPushButton#eResourceWidget:pressed,
QPushButton#eResourceDisplay:pressed,
QPushButton#eProjectSettings:pressed,
QPushButton#eSceneNodeWidget:pressed,
QPushButton#eSceneCodeEditorWidget:pressed,
QPushButton#AddAutioCode:pressed,
QPushButton#AddPromptCode:pressed,
QPushButton#AddChoiceCode:pressed,
QPushButton#AddIfCode:pressed,
QPushButton#AddEvalCode:pressed,
QPushButton#AddGotoCode:pressed,
QPushButton#AddEnableCode:pressed,
QPushButton#AddDisableCode:pressed,
QPushButton#AddNotificationCloseCode:pressed,
QPushButton#AddImageCode:pressed,
QPushButton#AddSayCode:pressed,
QPushButton#AddTimerCode2:pressed,
QPushButton#AddNotificationCreateCode:pressed,
QPushButton#AddEndCode:pressed,
QPushButton#RemoveCode:pressed,
QPushButton#SearchButton:pressed,
QPushButton#RemoveButtonButton:pressed,
QPushButton#AddButtonButton:pressed,
QToolButton#f_image:pressed,
QToolButton#f_link:pressed,
QToolButton#f_undo:pressed,
QToolButton#f_redo:pressed,
QToolButton#f_bold:pressed,
QToolButton#f_italic:pressed,
QToolButton#f_underline:pressed,
QToolButton#f_strikeout:pressed,
QToolButton#f_list_bullet:pressed,
QToolButton#f_list_ordered:pressed,
QToolButton#f_indent_dec:pressed,
QToolButton#f_indent_inc:pressed,
QPushButton#ToolsButton:pressed,
QPushButton#ErrorPushButton:pressed {
  border-image: url(ui/IconBgPressed.svg) 0 0 0 0 stretch stretch;
}

QPushButton#AddShowBackgroundCode:disabled,
QPushButton#AddShowIconCode:disabled,
QPushButton#SourceButton:disabled,
QPushButton#AddShowImageCode:disabled,
QPushButton#AddTextCode:disabled,
QPushButton#AddMetronomeCode:disabled,
QPushButton#AddTimerCode:disabled,
QPushButton#AddNotificationCode:disabled,
QPushButton#DebugButton:disabled,
QPushButton#StopDebugButton:disabled,
QPushButton#PauseButton:disabled,
QPushButton#PlayButton:disabled,
QPushButton#StopButton:disabled,
QPushButton#ExitButton:disabled,
QPushButton#SaveButton:disabled,
QPushButton#AddPatternElemButton:disabled,
QPushButton#AddResourceButton:disabled,
QPushButton#AddWebResourceButton:disabled,
QPushButton#MapButton:disabled,
QPushButton#RemovePatternElemButton:disabled,
QPushButton#RemoveResourceButton:disabled,
QPushButton#TitleCardButton:disabled,
QPushButton#TagsButton:disabled,
QPushButton#AddNodeButton:disabled,
QPushButton#RemoveNodeButton:disabled,
QPushButton#HelpButton:disabled,
QPushButton#ForardButton:disabled,
QPushButton#BackButton:disabled,
QPushButton#HomeButton:disabled,
QPushButton#CloseButton:disabled,
QPushButton#FetishOverlayButton:disabled,
QPushButton#ExportButton:disabled,
QPushButton#AddScriptFile:disabled,
QPushButton#AddLayoutFile:disabled,
QPushButton#UndoButton:disabled,
QPushButton#RedoButton:disabled,
QPushButton#DownloadButton:disabled,
QPushButton#eResourceWidget:disabled,
QPushButton#eResourceDisplay:disabled,
QPushButton#eProjectSettings:disabled,
QPushButton#eSceneNodeWidget:disabled,
QPushButton#eSceneCodeEditorWidget:disabled,
QPushButton#AddAutioCode:disabled,
QPushButton#AddPromptCode:disabled,
QPushButton#AddChoiceCode:disabled,
QPushButton#AddIfCode:disabled,
QPushButton#AddEvalCode:disabled,
QPushButton#AddGotoCode:disabled,
QPushButton#AddEnableCode:disabled,
QPushButton#AddDisableCode:disabled,
QPushButton#AddNotificationCloseCode:disabled,
QPushButton#AddImageCode:disabled,
QPushButton#AddSayCode:disabled,
QPushButton#AddTimerCode2:disabled,
QPushButton#AddNotificationCreateCode:disabled,
QPushButton#AddEndCode:disabled,
QPushButton#RemoveCode:disabled,
QPushButton#SearchButton:disabled,
QPushButton#RemoveButtonButton:disabled,
QPushButton#AddButtonButton:disabled,
QToolButton#f_image:disabled,
QToolButton#f_link:disabled,
QToolButton#f_undo:disabled,
QToolButton#f_redo:disabled,
QToolButton#f_bold:disabled,
QToolButton#f_italic:disabled,
QToolButton#f_underline:disabled,
QToolButton#f_strikeout:disabled,
QToolButton#f_list_bullet:disabled,
QToolButton#f_list_ordered:disabled,
QToolButton#f_indent_dec:disabled,
QToolButton#f_indent_inc:disabled,
QPushButton#ToolsButton:disabled,
QPushButton#ErrorPushButton:disabled {
  border-image: url(ui/IconBgDisabled.svg) 0 0 0 0 stretch stretch;
}

QPushButton:hover,
QToolButton:hover {
  border-image: url(ui/ButtonHover.png) 0 50 0 50 stretch stretch;
}

QPushButton:pressed,
QToolButton:pressed {
  border-image: url(ui/ButtonPressed.png) 0 50 0 50 stretch stretch;
}

QPushButton:disabled,
QToolButton:disabled {
  border-image: url(ui/ButtonDisabled.png) 0 50 0 50 stretch stretch;
}

QPushButton[styleSmall="true"],
QToolButton[styleSmall="true"],
MRichTextEdit QToolButton {
  padding: 0px;
  min-width: 24px;
}

QPushButton[flat="true"],
QToolButton[flat="true"] {
  border: none;
  border-image: none;
  background: transparent;
}

CShortcutButton,
CEditorSearchBar>QPushButton,
MRichTextEdit QToolButton {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}

COverlayButton>CShortcutButton {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  padding: -2px;
  qproperty-iconSize: 48px;
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}

CDownloadButtonOverlay>CShortcutButton {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  padding: -2px;
  qproperty-iconSize: 24px;
  border-image: url(ui/IconBg.svg) 0 0 0 0 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}

CMenuButton {
  color: white;
  border: 0px;
  border-radius: 0px;
  padding: 5px;
  background: transparent;
  border-image: url(ui/MainMenuButtonBG.png);
  min-width: 255px;
}

CMenuButton:hover {
  background: transparent;
  border-image: url(ui/MainMenuButtonBGHover.png);
  min-width: 255px;
}

CMenuButton:pressed {
  background: transparent;
  border-image: url(ui/MainMenuButtonBGPressed.png);
  min-width: 255px;
}

/*
 ----- QToolButton in QTabBar
*/

/* the scroll buttons are tool buttons */
QTabBar QToolButton, QTabBar QToolButton:hover, QTabBar QToolButton:pressed,
QTabBar QToolButton::menu-button, QToolButton::menu-button:hover, QTabBar QToolButton::menu-button:pressed,
QTabBar QToolButton::menu-arrow, QTabBar QToolButton::menu-arrow:hover, QTabBar QToolButton::menu-arrow:pressed {
  background: transparent;
  background-color: transparent;
  border-image: none;
  border: 0px transparent;
  border-radius: 0px;
}

/* the arrow mark in the tool buttons */
QTabBar QToolButton::right-arrow {
  background: transparent;
  background-color: transparent;
  image: url(ui/ButtonArrowRight.png);
}
QTabBar QToolButton::right-arrow:hover {
  background: transparent;
  background-color: transparent;
  image: url(ui/ButtonArrowRightHover.png);
}
QTabBar QToolButton::right-arrow:selected {
  background: transparent;
  background-color: transparent;
  image: url(ui/ButtonArrowRightPressed.png);
}

QTabBar QToolButton::left-arrow {
  background: transparent;
  background-color: transparent;
  image: url(ui/ButtonArrowLeft.png);
}
QTabBar QToolButton::left-arrow:hover {
  background: transparent;
  background-color: transparent;
  image: url(ui/ButtonArrowLeftHover.png);
}
QTabBar QToolButton::left-arrow:selected {
  background: transparent;
  background-color: transparent;
  image: url(ui/ButtonArrowLeftPressed.png);
}


/*
 ----- QProgressBar
*/
QProgressBar {
  color: white;
  background-color: black;
  border: 2px solid silver;
  border-radius: 10px;
  text-align: center;
}

QProgressBar::chunk {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  width: 20px;
}

CProgressBar {
  background-color: transparent;
  border: 2px solid transparent;
  qproperty-primaryColor: rgb(23, 7, 56);
  qproperty-secondaryColor: rgb(37, 25, 61);
  qproperty-tertiaryColor: rgb(55, 42, 67);
  qproperty-drawDecoration: false;
}

/*
 ----- QScrollBar
*/
QSlider:horizontal,
QScrollBar:horizontal {
  background: transparent;
  height: 24px;
  border-image: url(ui/DotsHorizontal.png) 0 16 0 16 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 16px transparent;
  border-left: 16px transparent;
}
QScrollBar:horizontal {
  margin-left: 24px;
  margin-right: 24px;
}
QSlider:vertical,
QScrollBar:vertical {
  background: transparent;
  width: 24px;
  border-image: url(ui/DotsVertical.png) 16 0 16 0 stretch stretch;
  border-top: 16px transparent;
  border-bottom: 16px transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}
QScrollBar:vertical {
  margin-top: 24px;
  margin-bottom: 24px;
}

QSlider:groove:horizontal,
QSlider:groove:vertical,
QSlider:horizontal,
QSlider:vertical {
  background: transparent;
}

QSlider::handle,
QScrollBar::handle {
  border-radius: 0px;
}
QSlider::handle:vertical {
  min-width: 24px;
  height: 24px;
}
QSlider::handle:horizontal {
  min-height: 24px;
  width: 24px;
}
QScrollBar::handle:vertical {
  min-height: 24px;
}
QScrollBar::handle:horizontal {
  min-width: 24px;
}

QSlider::handle:vertical,
QScrollBar::handle:horizontal {
  border-image: url(ui/BarHorizontal.png) 0 16 0 16 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 16px transparent;
  border-left: 16px transparent;
}
QSlider::handle:horizontal,
QScrollBar::handle:vertical {
  border-image: url(ui/BarVertical.png) 16 0 16 0 stretch stretch;
  border-top: 16px transparent;
  border-bottom: 16px transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}

QSlider::handle:vertical:hover,
QScrollBar::handle:horizontal:hover,
QSlider::handle:vertical:pressed,
QScrollBar::handle:horizontal:pressed {
  border-image: url(ui/BarHorizontalHover.png) 0 16 0 16 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 16px transparent;
  border-left: 16px transparent;
}
QSlider::handle:horizontal:hover,
QScrollBar::handle:vertical:hover,
QSlider::handle:horizontal:pressed,
QScrollBar::handle:vertical:pressed {
  border-image: url(ui/BarVerticalHover.png) 16 0 16 0 stretch stretch;
  border-top: 16px transparent;
  border-bottom: 16px transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
}

QSlider::add-line:horizontal,
QScrollBar::add-line:horizontal {
  border: 0px solid transparent;

  width: 24px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}
QSlider::sub-line:horizontal,
QScrollBar::sub-line:horizontal {
  border: 0px solid transparent;

  width: 24px;
  subcontrol-position: left;
  subcontrol-origin: margin;
  position: absolute;
  right: 24px;
}
QSlider::add-line:vertical,
QScrollBar::add-line:vertical {
  border: 0px solid transparent;

  height: 24px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}
QSlider::sub-line:vertical,
QScrollBar::sub-line:vertical {
  border: 0px solid transparent;

  height: 24px;
  subcontrol-position: top;
  subcontrol-origin: margin;
  position: absolute;
  bottom: 24px;
}

QScrollBar:left-arrow,
QScrollBar:right-arrow,
QScrollBar:up-arrow,
QScrollBar:down-arrow {
  width: 24px;
  height: 24px;
}
QScrollBar:left-arrow:horizontal {
  image: url(ui/ButtonArrowLeft.png);
}
QScrollBar:left-arrow:horizontal:hover {
  image: url(ui/ButtonArrowLeftHover.png);
}
QScrollBar:left-arrow:horizontal:pressed {
  image: url(ui/ButtonArrowLeftPressed.png);
}
QScrollBar:right-arrow:horizontal {
  image: url(ui/ButtonArrowRight.png);
}
QScrollBar:right-arrow:horizontal:hover {
  image: url(ui/ButtonArrowRightHover.png);
}
QScrollBar:right-arrow:horizontal:pressed {
  image: url(ui/ButtonArrowRightPressed.png);
}
QScrollBar:up-arrow:vertical {
  image: url(ui/ButtonArrowUp.png);
}
QScrollBar:up-arrow:vertical:hover {
  image: url(ui/ButtonArrowUpHover.png);
}
QScrollBar:up-arrow:vertical:pressed {
  image: url(ui/ButtonArrowUpPressed.png);
}
QScrollBar:down-arrow:vertical {
  image: url(ui/ButtonArrowDown.png);
}
QScrollBar:down-arrow:vertical:hover {
  image: url(ui/ButtonArrowDownHover.png);
}
QScrollBar:down-arrow:vertical:pressed {
  image: url(ui/ButtonArrowDownPressed.png);
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical{
  background: transparent;
  border: 0px solid transparent;
}

/*
 ----- QScrollArea
*/
QScrollArea {
  background: transparent;
}
QScrollArea > QWidget {
  background: transparent;
}
QScrollArea > QWidget > QWidget {
  background: transparent;
}
QAbstractScrollArea::corner {
  background: transparent;
}


/*
 ----- QComboBox
*/
QComboBox {
  padding-left: 1px;
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/Button.png) 0 50 0 50 stretch stretch;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
  border-right: 50px transparent;
  border-left: 50px transparent;
  min-height: 30px;
  min-width: 100px;
}

QComboBox:hover {
  border-image: url(ui/ButtonHover.png) 0 50 0 50 stretch stretch;
}


QComboBox:pressed,
QComboBox:!editable:on, /* QComboBox gets the "on" state when the popup is open */
QComboBox::drop-down:editable:on {
  border-image: url(ui/ButtonPressed.png) 0 50 0 50 stretch stretch;
}

QComboBox:editable {
  background: black;
}

QComboBox QAbstractItemView {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
  padding: 5;
  selection-background-color: rgb(23, 7, 56);
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top left;
  width: 24px;

  border-left-width: 0;
  border-left-color: transparent;
}

QComboBox::down-arrow {
  border-image: url(ui/ButtonArrowDownComboBox.png);
  min-height: 24px;
  min-width: 24px;
}

QComboBox[styleSmall="true"] {
  padding: 0px;
  min-width: 0px;
  min-height: 0px;
  border-image: none;
  border: none;
}

QComboBox[styleSmall="true"]:down-arrow {
  min-height: 14px;
  min-width: 14px;
  max-height: 14px;
  max-width: 14px;
}


/*
 ----- QSpinBox, QDoubleSpinBox, QTimeEdit
*/
QDoubleSpinBox,
QTimeEdit,
QSpinBox,
CLongLongSpinBox {
  color: white;
  background-color: black;
  padding-right: 16px; /* make room for the arrows */
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
  min-height: 16px;
  selection-background-color: rgb(23, 7, 56);
}
QDoubleSpinBox:disabled,
QTimeEdit:disabled,
QSpinBox:disabled,
CLongLongSpinBox:disabled {
  color: rgb(42, 42, 42);
}

QDoubleSpinBox::up-button,
QTimeEdit::up-button,
QSpinBox::up-button,
CLongLongSpinBox::up-button {
  padding-right: 2px;

  subcontrol-origin: border;
  subcontrol-position: top right; /* position at the top right corner */

  width: 12px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  background: transparent;
  border-left-width: 0;
  border-left-color: silver;
}

QDoubleSpinBox::up-arrow,
QTimeEdit::up-arrow,
QSpinBox::up-arrow,
CLongLongSpinBox::up-arrow {
  image: url(ui/ButtonPlus.png);
  width: 12px;
  height: 12px;
}

QDoubleSpinBox::down-button,
QTimeEdit::down-button,
QSpinBox::down-button,
CLongLongSpinBox::down-button {
  padding-right: 2px;

  subcontrol-origin: border;
  subcontrol-position: bottom right; /* position at bottom right corner */

  width: 12px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  background: transparent;
  border-left-width: 0;
  border-left-color: silver;
}

QDoubleSpinBox::down-arrow,
QTimeEdit::down-arrow,
QSpinBox::down-arrow,
CLongLongSpinBox::down-arrow {
  image: url(ui/ButtonMinus.png);
  width: 12px;
  height: 12px;
}

/*
 ----- QMenu, QDialog
*/
QMenu,
QDialog {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
  padding: 5;
}

QMenu::item,
QDialog::item {
  padding: 2px 25px 2px 20px;
  border: 0px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected,
QDialog::item:selected {
  border: 0px solid transparent; /* reserve space for selection border */
  background: rgb(23, 7, 56);
}

QMenu::icon:checked,
QDialog::item:checked{ /* appearance of a 'checked' icon */
  background: transparent;
  border: 0px solid transparent;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}

QMenu::separator,
QDialog::separator {
  height: 2px;
  background: silver;
  margin-left: 10px;
  margin-right: 5px;
}

QMenu::indicator,
QDialog::indicator {
  width: 13px;
  height: 13px;
}

/*
  ---- COverlayBase
*/
COverlayBase {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
  padding: 5;
}
COverlayBase#HelpButtonOverlay,
COverlayBase#DownloadButtonOverlay {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: none;
  border: none;
  padding: 0;
}

CTextEditZoomEnabler {
  border-radius: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
  padding: 0;
}

CTextEditZoomEnabler>QLabel {
  color: white;
  background-color: transparent;
}

/*
 ----- QHeaderView
*/
QHeaderView {
  color: white;
  background: transparent;
  border: 1px solid silver;
  border-radius: 10px;
  padding-left: 3px;
}

QHeaderView::section {
  background: transparent;
  padding: 3px;
}

QHeaderView::section:checked
{
  background: rgb(23, 7, 56);
}

/* style the sort indicator */
QHeaderView::down-arrow {
  image: url(ui/ButtonArrowDown.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  subcontrol-position: right center;
  subcontrol-origin: padding;
}

QHeaderView::up-arrow {
  image: url(ui/ButtonArrowUp.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  subcontrol-position: right center;
  subcontrol-origin: padding;
}

/*
 ----- QListView, QTreeView, QTableView
*/
QListView, QTreeView, QTableView {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
  border-top: 20px transparent;
  border-bottom: 20px transparent;
  border-right: 20px transparent;
  border-left: 20px transparent;
  padding: 5;
  alternate-background-color: rgb(23, 7, 56);
}

QListView, QTreeView, QTableView {
  show-decoration-selected: 1; /* make the selection span the entire width of the view */
}

QTreeView#pHelpSearchTree {
  min-width: 100px;
  width: 100px;
}

QListView::item,
QTreeView::item,
QTableView::item {
  margin: 0px 0px 0px 0px;
  border: 0px;
  padding: 0px;
  padding-right: 3px;
  padding-left: 3px;
}

QListView::item::text,
QTreeView::item::text,
QTableView::item::text {
  min-height: 18px;
}

QListView::item:alternate,
QTreeView::item:alternate,
QTableView::item:alternate {
  background: rgb(23, 7, 56);
}

QListView::item:selected,
QTreeView::item:selected,
QTableView::item:selected {
  color: white;
  border: 1px solid silver;
  background: rgb(55, 42, 67);
}

QListView::item:hover,
QTreeView::item:hover,
QTableView::item:hover {
  color: white;
  background: rgb(37, 25, 61);
}

QListView::item:disabled,
QTreeView::item:disabled,
QTableView::item:disabled {
  color: rgb(42, 42, 42);
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
  image: url(ui/ButtonArrowRight.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
  image: url(ui/ButtonArrowDown.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
}

CResourceDetailView {
  color: white;
  background-color: transparent;
  qproperty-iconSize: 64px;
  qproperty-spacing: 10px;
}

/*
 ----- QPlainTextEdit
*/
QTextEdit,
QPlainTextEdit,
QTextBrowser {
    color: white;
    background-color: transparent;
    border-radius: 0px;
    border-image: url(ui/WindowBG.png) 50 50 50 50 repeat repeat;
    border-top: 20px transparent;
    border-bottom: 20px transparent;
    border-right: 20px transparent;
    border-left: 20px transparent;
    selection-background-color: rgb(23, 7, 56);
}

/*
 ----- Specific
*/
QMainWindow {
  background-color: black;
  border-image: url(ui/MainMenuBG.png) 0 0 0 0 stretch stretch;
  border-width: 0px;
}

CAndroidMainWindow {
  qproperty-navigationColor: rgba(255, 255, 255, 0);
}

QQuickWidget {
  background: black
}

CProjectCardSelectionWidget {
  qproperty-selectionColor:white;
}

CTimerWidget {
  qproperty-primaryColor: rgb(23, 7, 56);
  qproperty-secondaryColor: rgb(37, 25, 61);
  qproperty-tertiaryColor: rgb(55, 42, 67);
}

CScriptEditorWidget {
  qproperty-bracketColor0: rgb(191, 64, 191);
  qproperty-bracketColor1: rgb(255, 191, 0);
  qproperty-bracketColor2: rgb(0, 150, 255);
  qproperty-bracketColor3: rgb(237, 41, 57);
  qproperty-iconFolded: url(ui/ButtonPlay.png);
  qproperty-iconUnfolded: url(ui/ButtonArrowDown.png);
  qproperty-foldAreaBackgroundColor: black;
  qproperty-lineNumberBackgroundColor: black;
  qproperty-lineNumberTextColor: white;
  qproperty-highlightLineColor: rgb(23, 7, 56);
  qproperty-highlightSearchBackgroundColor: rgb(55, 42, 67);
  qproperty-highlightSearchColor: white;
  qproperty-wordHighlightColor: rgb(236, 227, 215);
  qproperty-widgetsBackgroundColor: black;
  qproperty-theme: "Breeze Dark";
}

CEditorSceneNodeWidget {
  background: transparent;
  qproperty-normalBoundaryColor: silver;
  qproperty-selectedBoundaryColor: silver;
  qproperty-gradientColor0: black;
  qproperty-gradientColor1: black;
  qproperty-gradientColor2: black;
  qproperty-gradientColor3: black;
  qproperty-shadowColor: white;
  qproperty-fontColor: white;
  qproperty-fontColorFaded: white;
  qproperty-connectionPointColor: rgb(37, 25, 61);
  qproperty-backgroundColor: rgb(50, 50, 50);
  qproperty-fineGridColor: black;
  qproperty-coarseGridColor: black;
  qproperty-normalConnectionColor: rgb(23, 7, 56);
  qproperty-selectedConnectionColor: rgb(37, 25, 61);
  qproperty-selectedConnectionHaloColor: rgb(55, 42, 67);
  qproperty-hoveredConnectionColor: rgb(37, 25, 61);
}

CEditorActionBar {
  qproperty-spacing: 1;
}

CResourceDetailView {
  qproperty-iconFile: url(ui/FileIcon.png);
  qproperty-iconFolder: url(ui/FolderIcon.png);
  qproperty-iconLayout: url(ui/ButtonLayout.png);
  qproperty-spacing: 6;
}

CResourceModelView {
  qproperty-cardIcon: url(ui/ButtonTitleCard.png);
  qproperty-layoutIcon: url(ui/ButtonLayout.png);
  qproperty-iconSize: 16;
}
