[submodule "3rdparty/better-enums"]
	path = 3rdparty/better-enums
	url = https://github.com/RemotelyChaotic/better-enums.git
[submodule "3rdparty/SortFilterProxyModel"]
	path = 3rdparty/SortFilterProxyModel
	url = https://github.com/RemotelyChaotic/SortFilterProxyModel.git
[submodule "3rdparty/nodeeditor"]
	path = 3rdparty/nodeeditor
	url = https://github.com/RemotelyChaotic/nodeeditor.git
[submodule "3rdparty/syntax-highlighting"]
	path = 3rdparty/syntax-highlighting
	url = https://github.com/RemotelyChaotic/syntax-highlighting.git
[submodule "cmake/extra-cmake-modules"]
	path = cmake/extra-cmake-modules
	url = https://github.com/RemotelyChaotic/extra-cmake-modules.git
[submodule "3rdparty/QtAV"]
	path = 3rdparty/QtAV
	url = https://github.com/RemotelyChaotic/QtAV.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/RemotelyChaotic/json.git
[submodule "3rdparty/json-schema-validator"]
	path = 3rdparty/json-schema-validator
	url = https://github.com/RemotelyChaotic/json-schema-validator.git
[submodule "3rdparty/libqpcx"]
	path = 3rdparty/libqpcx
	url = https://github.com/RemotelyChaotic/libqpcx.git
[submodule "3rdparty/xmldom"]
	path = 3rdparty/xmldom
	url = https://github.com/RemotelyChaotic/xmldom.git
[submodule "3rdparty/android_openssl"]
	path = 3rdparty/android_openssl
	url = https://github.com/RemotelyChaotic/android_openssl.git
[submodule "3rdparty/WinToast"]
	path = 3rdparty/WinToast
	url = https://github.com/RemotelyChaotic/WinToast.git
[submodule "3rdparty/Lua"]
	path = 3rdparty/Lua
	url = https://github.com/RemotelyChaotic/Lua.git
