#include "version.h"

IDI_ICON1 ICON    DISCARDABLE   "resources/img/Icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            //VALUE "Comments", "\0"
            VALUE "CompanyName", "Private"
            VALUE "FileDescription", "JOIP Engine"
            VALUE "FileVersion", "VERSION"
            VALUE "InternalName", "JOIPEngine"
            VALUE "LegalCopyright", ""
            //VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", ""
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "JOIP Engine"
            VALUE "ProductVersion", VERSION_DOT
            //VALUE "SpecialBuild", "Stand 07.06.2007\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x807, 1200
    END
END
