/*
 ----- QSplitter
*/
QSplitter {
  min-height: 18px;
  min-width: 18px;
  max-height: 18px;
  max-width: 18px;
  background: transparent;
}

QSplitter::handle:horizontal {
  image: url(ui/ButtonDotsVert.png);
}
QSplitter::handle:vertical {
  image: url(ui/ButtonDotsHoriz.png);
}

/*
 ----- QCheckBox, QRadioButton
*/
QCheckBox,
QRadioButton {
  color: white;
  spacing: 5px;
}

QTreeView::indicator,
QTableView::indicator,
QListView::indicator,
QRadioButton::indicator,
QGroupBox::indicator,
QCheckBox::indicator {
  width: 18px;
  height: 18px;
}

QTreeView::indicator::unchecked,
QTableView::indicator::unchecked,
QListView::indicator::unchecked,
QRadioButton::indicator::unchecked,
QGroupBox::indicator:unchecked,
QCheckBox::indicator:unchecked {
  image: url(ui/ButtonCheckBoxEmpty.png);
}

QTreeView::indicator:unchecked:hover,
QTableView::indicator::unchecked:hover,
QListView::indicator::unchecked:hover,
QRadioButton::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:hover {
  image: url(ui/ButtonCheckBoxEmptyHover.png);
}

QTreeView::indicator:unchecked:pressed,
QTableView::indicator::unchecked:pressed,
QListView::indicator::unchecked:pressed,
QRadioButton::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:pressed,
QCheckBox::indicator:unchecked:pressed {
  image: url(ui/ButtonCheckBoxEmptyClick.png);
}

QTreeView::indicator:checked,
QTableView::indicator::checked,
QListView::indicator::checked,
QRadioButton::indicator:checked,
QGroupBox::indicator:checked,
QCheckBox::indicator:checked {
  image: url(ui/ButtonCheckBox.png);
}

QTreeView::indicator:checked:hover,
QTableView::indicator::checked:hover,
QListView::indicator::checked:hover,
QRadioButton::indicator:checked:hover,
QGroupBox::indicator:checked:hover,
QCheckBox::indicator:checked:hover {
  image: url(ui/ButtonCheckBoxHover.png);
}

QTreeView::indicator:checked:pressed,
QTableView::indicator::checked:pressed,
QListView::indicator::checked:pressed,
QRadioButton::indicator:checked:pressed,
QGroupBox::indicator:checked:pressed,
QCheckBox::indicator:checked:pressed {
  image: url(ui/ButtonCheckBoxClick.png);
}

QTreeView::indicator:indeterminate:hover,
QTableView::indicator::indeterminate:hover,
QListView::indicator::indeterminate:hover,
QRadioButton::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:hover {
  image: url(ui/ButtonCheckBoxHover.png);
}

QTreeView::indicator:indeterminate:pressed,
QTableView::indicator::indeterminate:pressed,
QListView::indicator::indeterminate:pressed,
QRadioButton::indicator:indeterminate:pressed,
QGroupBox::indicator:indeterminate:pressed,
QCheckBox::indicator:indeterminate:pressed {
  image: url(ui/ButtonCheckBoxClick.png);
}


/*
 ----- QGroupBox, QTabWidget
*/
QGroupBox,
QTabWidget::pane {
  background-color: rgb(38, 38, 38);
  border: 1px solid silver;
  border-radius: 20px;
  padding: 6px;
}

CResourceModelView>QTabWidget::pane {
  border: 0;
  border-radius: 0px;
  padding: 0px;
}

QGroupBox::title {
  color: white;
  subcontrol-origin: margin;
  subcontrol-position: top center; /* position at the top center */
  padding: 0 3px;
}

QTabWidget::tab-bar {
  left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  min-width: 8ex;
}

QTabBar::tab:selected,
QTabBar::tab:hover {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}

QTabBar::tab:selected {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

QTabBar::tab:!selected {
  margin-top: 2px; /* make non-selected tabs look smaller */
}

QTabBar::tab:disabled {
  min-width: 0px;
  max-width: 0px;
  border: none;
  border-radius: 0px;
  padding: 0px;
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
}

/*
 ----- QLabel, QToolTip, CTitleLabel
*/
QToolTip {
  color: white;
  background-color: rgb(38, 38, 38);
}

QLabel {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

QLabel#SearchIcon {
  border-image: url(ui/ButtonSearch.png);
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}
QLabel#PlayButton {
  border-image: url(ui/ButtonPlay.png);
}
QLabel#ExitButton {
  border-image: url(ui/ButtonExit.png);
}
QLabel#WarningIcon {
  border-image: url(ui/WarningIcon.png);
}
QLabel#ErrorIcon {
  border-image: url(ui/ButtonIcon.png);
}
QLabel#IconBackground {
  qproperty-pixmap: url(ui/IconBg.svg);
}
QLabel#ReadOnly {
  border-image: url(ui/ButtonReadOnly.png);
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

QToolTip {
  border: 2px solid silver;
  border-radius: 0px;
  padding: 5px;
}

CTitleLabel {
  color: rgb(255, 0, 255);
  background-color: transparent;
  qproperty-outlineColor: rgba(255, 255, 255, 255);
  border: 0px;
  border-radius: 0px;
}

/*
 ----- QLineEdit
*/
QLineEdit {
  color: white;
  background-color: rgb(0, 0, 0);
  border: 2px solid silver;
  border-radius: 10px;
  padding: 3px;
  min-height: 16px;
  selection-background-color: darkgray;
}

QLineEdit[echoMode="2"] {
  lineedit-password-character: 9679;
}

QLineEdit:disabled,
QLineEdit:read-only {
  background-color: black;
}

QComboBox[styleSmall="true"] QLineEdit {
  min-height: 0px;
  border-radius: 0px;
}

/*
 ----- QPushButton, QToolButton, CShortcutButton
*/
QPushButton, QToolButton {
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  padding: 6px;
  min-width: 64px;
}

QPushButton[styleSmall="true"],
QToolButton[styleSmall="true"],
MRichTextEdit QToolButton {
  padding: 0px;
  min-width: 24px;
}

QPushButton[flat="true"],
QToolButton[flat="true"] {
  border: none;
  background: transparent;
}

CShortcutButton,
CEditorSearchBar>QPushButton,
MRichTextEdit QToolButton {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
}

COverlayButton>CShortcutButton {
  min-width: 64px;
  min-height: 48px;
  max-width: 64px;
  max-height: 48px;
  padding: -2px;
  qproperty-iconSize: 48px;
}

CDeviceButtonOverlay>CShortcutButton,
CDownloadButtonOverlay>CShortcutButton {
  min-width: 64px;
  min-height: 48px;
  max-width: 64px;
  max-height: 48px;
  padding: -2px;
  qproperty-iconSize: 24px;
}

QPushButton#CliButton {
  min-height: 24px;
  max-height: 24px;
}

QPushButton#AddShowBackgroundCode {
  qproperty-icon: url(ui/ButtonBackground.png) off,
                  url(ui/ButtonBackground.png) on;
}
QPushButton#AddShowIconCode,
QPushButton#SourceButton {
  qproperty-icon: url(ui/ButtonIcon.png) off,
                  url(ui/ButtonIcon.png) on;
}
QPushButton#AddShowImageCode,
QPushButton#AddImageCode,
QToolButton#f_image {
  qproperty-icon: url(ui/ButtonImage.png) off,
                  url(ui/ButtonImage.png) on;
}
QPushButton#AddTextCode,
QPushButton#AddSayCode {
  qproperty-icon: url(ui/ButtonText.png) off,
                  url(ui/ButtonText.png) on;
}
QPushButton#AddMetronomeCode {
  qproperty-icon: url(ui/ButtonMetronome.png) off,
                  url(ui/ButtonMetronome.png) on;
}
QPushButton#AddTimerCode,
QPushButton#AddTimerCode2 {
  qproperty-icon: url(ui/ButtonClock.png) off,
                  url(ui/ButtonClock.png) on;
}
QPushButton#AddNotificationCode,
QPushButton#AddNotificationCreateCode {
  qproperty-icon: url(ui/ButtonNotification.png) off,
                  url(ui/ButtonNotification.png) on;
}
QPushButton#DebugButton,
QPushButton#DebugLayoutButton,
QPushButton#DebugNodeButton {
  qproperty-icon: url(ui/ButtonPlay.png) off,
                  url(ui/ButtonPlay.png) on;
}
QPushButton#StopDebugButton,
QPushButton#StopDebugLayoutButton,
QPushButton#StopDebugNodeButton {
  qproperty-icon: url(ui/ButtonStop.png) off,
                  url(ui/ButtonStop.png) on;
}
QPushButton#NextSceneButton {
  qproperty-icon: url(ui/ButtonNextStep.png) off,
                  url(ui/ButtonNextStep.png) on;
}
QPushButton#PauseButton {
  qproperty-icon: url(ui/ButtonPause.png) off,
                  url(ui/ButtonPause.png) on;
}
QPushButton#PlayButton {
  qproperty-icon: url(ui/ButtonPlay.png) off,
                  url(ui/ButtonPlay.png) on;
}
QPushButton#StopButton {
  qproperty-icon: url(ui/ButtonStop.png) off,
                  url(ui/ButtonStop.png) on;
}
QPushButton#AddThreadCode {
  qproperty-icon: url(ui/ButtonThread.png) off,
                  url(ui/ButtonThread.png) on;
}
QPushButton#ExitButton,
QPushButton#AddEndCode {
  qproperty-icon: url(ui/ButtonExit.png) off,
                  url(ui/ButtonExit.png) on;
}
QPushButton#SaveButton {
  qproperty-icon: url(ui/ButtonSave.png) off,
                  url(ui/ButtonSave.png) on;
}
QPushButton#AddPatternElemButton,
QPushButton#AddResourceButton,
QPushButton#AddButtonButton,
QPushButton#AddTextColorButton,
QPushButton#AddBGColorButton,
QPushButton#AddFetishButton,
QPushButton#AddButtonButton,
QPushButton#AddSequenceElement,
QPushButton#AddNewAchievement {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  qproperty-icon: url(ui/ButtonPlus.png) off,
                  url(ui/ButtonPlus.png) on;
}
QPushButton#AddWebResourceButton,
QToolButton#f_link {
  qproperty-icon: url(ui/ButtonWeb.png) off,
                  url(ui/ButtonWeb.png) on;
}
QPushButton#MapButton {
  qproperty-icon: url(ui/ButtonMap.png) off,
                  url(ui/ButtonMap.png) on;
}
QPushButton#RemovePatternElemButton,
QPushButton#RemoveResourceButton,
QPushButton#RemoveButtonButton,
QPushButton#RemoveTextColorButton,
QPushButton#RemoveBGColorButton,
QPushButton#RemoveFetishButton,
QPushButton#RemoveCode,
QPushButton#RemoveButtonButton,
QPushButton#RemoveSelectedSequenceElements {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  qproperty-icon: url(ui/ButtonMinus.png) off,
                  url(ui/ButtonMinus.png) on;
}
QPushButton#TitleCardButton {
  qproperty-icon: url(ui/ButtonTitleCard.png) off,
                  url(ui/ButtonTitleCard.png) on;
}
QPushButton#EditDialogueTags,
QPushButton#TagsButton {
  qproperty-icon: url(ui/ButtonTag.png) off,
                  url(ui/ButtonTag.png) on;
}
QPushButton#AddNodeButton {
  qproperty-icon: url(ui/ButtonPlusDisabled.png) off,
                  url(ui/ButtonPlus.png) on;
}
QPushButton#RemoveDialogue,
QPushButton#RemoveNodeButton {
  qproperty-icon: url(ui/ButtonMinus.png) off,
                  url(ui/ButtonMinus.png) on;
}
QPushButton#HelpButton {
  qproperty-icon: url(ui/ButtonHelp.png) off,
                  url(ui/ButtonHelp.png) on;
}
QPushButton#ForardButton {
  qproperty-icon: url(ui/ButtonPlay.png) off,
                  url(ui/ButtonPlay.png) on;
}
QPushButton#BackButton {
  qproperty-icon: url(ui/ButtonArrowLeft.png) off,
                  url(ui/ButtonArrowLeft.png) on;
}
QPushButton#HomeButton {
  qproperty-icon: url(ui/ButtonHome.png) off,
                  url(ui/ButtonHome.png) on;
}
QPushButton#CloseButton {
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  qproperty-iconSize: 24px;
  qproperty-icon: url(ui/ButtonX.png) off,
                  url(ui/ButtonX.png) on;
}
QPushButton#FetishOverlayButton {
  qproperty-icon: url(ui/ButtonDotsHoriz.png) off,
                  url(ui/ButtonDotsHoriz.png) on;
}
QPushButton#ExportButton {
  qproperty-icon: url(ui/ButtonExport.png) off,
                  url(ui/ButtonExport.png) on;
}
QPushButton#AddScriptFile {
  qproperty-icon: url(ui/ButtonAddScript.png) off,
                  url(ui/ButtonAddScript.png) on;
}
QPushButton#AddLayoutButton,
QPushButton#AddLayoutFile {
  qproperty-icon: url(ui/ButtonAddLayout.png) off,
                  url(ui/ButtonAddLayout.png) on;
}
QPushButton#UndoButton,
QToolButton#f_undo {
  qproperty-icon: url(ui/ButtonUndo.png) off,
                  url(ui/ButtonUndo.png) on;
}
QPushButton#RedoButton,
QToolButton#f_redo {
  qproperty-icon: url(ui/ButtonRedo.png) off,
                  url(ui/ButtonRedo.png) on;
}
QPushButton#TreeViewButton {
  qproperty-icon: url(ui/ButtonTree.png) off,
                  url(ui/ButtonTree.png) on;
}
QPushButton#ExplorerViewButton {
  qproperty-icon: url(ui/ButtonFolder.png) off,
                  url(ui/ButtonFolder.png) on;
}
QPushButton#CdUpButton {
  qproperty-icon: url(ui/ButtonDotDot.png) off,
                  url(ui/ButtonDotDot.png) on;
}
QPushButton#DownloadButton {
  qproperty-icon: url(ui/ButtonDownload.png) off,
                  url(ui/ButtonDownload.png) on;
}
QPushButton#AddDeviceCode,
QPushButton#DeviceButton {
  qproperty-icon: url(ui/ButtonPlug.png) off,
                  url(ui/ButtonPlug.png) on;
}
QPushButton#AddAutioCode {
  qproperty-icon: url(ui/ButtonAudio.png) off,
                  url(ui/ButtonAudio.png) on;
}
QPushButton#AddPromptCode {
  qproperty-icon: url(ui/ButtonPrompt.png) off,
                  url(ui/ButtonPrompt.png) on;
}
QPushButton#AddChoiceCode {
  qproperty-icon: url(ui/ButtonChoice.png) off,
                  url(ui/ButtonChoice.png) on;
}
QPushButton#AddIfCode {
  qproperty-icon: url(ui/ButtonIf.png) off,
                  url(ui/ButtonIf.png) on;
}
QPushButton#AddEvalCode {
  qproperty-icon: url(ui/ButtonEval.png) off,
                  url(ui/ButtonEval.png) on;
}
QPushButton#AddGotoCode {
  qproperty-icon: url(ui/ButtonGoto.png) off,
                  url(ui/ButtonGoto.png) on;
}
QPushButton#AddEnableCode {
  qproperty-icon: url(ui/ButtonEnable.png) off,
                  url(ui/ButtonEnable.png) on;
}
QPushButton#AddDisableCode {
  qproperty-icon: url(ui/ButtonDisable.png) off,
                  url(ui/ButtonDisable.png) on;
}
QPushButton#AddNotificationCloseCode {
  qproperty-icon: url(ui/ButtonNotificationClose.png) off,
                  url(ui/ButtonNotificationClose.png) on;
}
QPushButton#SearchButton {
  qproperty-icon: url(ui/ButtonSearch.png) off,
                  url(ui/ButtonSearch.png) on;
}
QToolButton#f_bold {
  qproperty-icon: url(ui/ButtonBold.png) off,
                  url(ui/ButtonBold.png) on;
}
QToolButton#f_italic {
  qproperty-icon: url(ui/ButtonItalic.png) off,
                  url(ui/ButtonItalic.png) on;
}
QToolButton#f_underline {
  qproperty-icon: url(ui/ButtonUnderline.png) off,
                  url(ui/ButtonUnderline.png) on;
}
QToolButton#f_strikeout {
  qproperty-icon: url(ui/ButtonStrikethrough.png) off,
                  url(ui/ButtonStrikethrough.png) on;
}
QToolButton#f_list_bullet {
  qproperty-icon: url(ui/ButtonUList.png) off,
                  url(ui/ButtonUList.png) on;
}
QToolButton#f_list_ordered {
  qproperty-icon: url(ui/ButtonOList.png) off,
                  url(ui/ButtonOList.png) on;
}
QToolButton#f_indent_dec {
  qproperty-icon: url(ui/ButtonUnindent.png) off,
                  url(ui/ButtonUnindent.png) on;
}
QToolButton#f_indent_inc {
  qproperty-icon: url(ui/ButtonIndent.png) off,
                  url(ui/ButtonIndent.png) on;
}
QPushButton#ToolsButton {
  qproperty-icon: url(ui/ButtonTools.png) off,
                  url(ui/ButtonTools.png) on;
}
QPushButton#ErrorPushButton {
  qproperty-icon: url(ui/ButtonIcon.png) off,
                  url(ui/ButtonIcon.png) on;
  min-width: 32;
}
QPushButton#GridButton {
  qproperty-icon: url(ui/ButtonGrid.png) off,
                  url(ui/ButtonGrid.png) on;
}
QPushButton#NewSequence {
  qproperty-icon: url(ui/ButtonNewSequence.png) off,
                  url(ui/ButtonNewSequence.png) on;
}
QPushButton#SequenceProperties {
  qproperty-icon: url(ui/ButtonSequenceProperties.png) off,
                  url(ui/ButtonSequenceProperties.png) on;
}
QPushButton#AddSequenceLayer {
  qproperty-icon: url(ui/ButtonNewSequenceLayer.png) off,
                  url(ui/ButtonNewSequenceLayer.png) on;
}
QPushButton#RemoveSelectedSequenceLayer {
  qproperty-icon: url(ui/ButtonRemoveSequenceLayer.png) off,
                  url(ui/ButtonRemoveSequenceLayer.png) on;
}
QPushButton#AddDialogue {
  qproperty-icon: url(ui/ButtonDialogAdd.png) off,
                  url(ui/ButtonDialogAdd.png) on;
}
QPushButton#AddDialogueFrament {
  qproperty-icon: url(ui/ButtonDialogAddCondition.png) off,
                  url(ui/ButtonDialogAddCondition.png) on;
}
QPushButton#AddDialogueCategoryButton {
  qproperty-icon: url(ui/ButtonDialogAddFolder.png) off,
                  url(ui/ButtonDialogAddFolder.png) on;
}
QPushButton#EditDialogueContent {
  qproperty-icon: url(ui/ButtonDialogConfigure.png) off,
                  url(ui/ButtonDialogConfigure.png) on;
}


QPushButton:hover,
QToolButton:hover {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}

QPushButton:pressed,
QToolButton:pressed,
QPushButton:checked,
QToolButton:checked  {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

QPushButton:disabled,
QToolButton:disabled {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 rgb(38, 38, 38), stop: 1 rgb(38, 38, 38));
}

CMenuButton {
  color: white;
  border: 0px;
  border-radius: 0px;
  padding: 5px;
  background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgba(38, 0, 38, 0), stop: 0.3 rgba(38, 0, 38, 255), stop: 0.7 rgba(38, 0, 38, 255), stop: 1 rgba(38, 0, 38, 0));
  min-width: 255px;
}

CMenuButton:hover {
background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
  stop: 0 rgba(185, 0, 185, 0), stop: 0.3 rgba(185, 0, 185, 255), stop: 0.7 rgba(185, 0, 185, 255), stop: 1 rgba(185, 0, 185, 0));
}

CMenuButton:pressed {
background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
  stop: 0 rgba(200, 0, 200, 0), stop: 0.3 rgba(200, 0, 200, 255), stop: 0.7 rgba(200, 0, 200, 255), stop: 1 rgba(200, 0, 200, 0));
}

/*
 ----- QToolButton in QTabBar
*/

/* the scroll buttons are tool buttons */
QTabBar QToolButton,
QTabBar QToolButton::menu-button,
QTabBar QToolButton::menu-arrow {
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
}

QToolButton:hover,
QToolButton::menu-button:hover,
QTabBar QToolButton::menu-arrow:hover {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}

QTabBar QToolButton:pressed,
QTabBar QToolButton::menu-button:pressed,
QTabBar QToolButton::menu-arrow:pressed {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

/* the arrow mark in the tool buttons */
QTabBar QToolButton::right-arrow {
  image: url(ui/ButtonPlay.png);
}
QTabBar QToolButton::right-arrow:hover {
  image: url(ui/ButtonPlay.png);
}
QTabBar QToolButton::right-arrow:selected {
  image: url(ui/ButtonPlay.png);
}

QTabBar QToolButton::left-arrow {
  image: url(ui/ButtonArrowLeft.png);
}
QTabBar QToolButton::left-arrow:hover {
  image: url(ui/ButtonArrowLeft.png);
}
QTabBar QToolButton::left-arrow:selected {
  image: url(ui/ButtonArrowLeft.png);
}

/*
 ----- QProgressBar
*/
QProgressBar {
  color: white;
  background-color: rgb(50,50,50);
  border: 2px solid silver;
  border-radius: 10px;
  text-align: center;
}

CProgressBar {
  background-color: transparent;
  border: 2px solid transparent;
  qproperty-primaryColor: rgb(118, 0, 118);
  qproperty-secondaryColor: rgb(185, 0, 100);
  qproperty-tertiaryColor: rgb(236, 0, 236);
  qproperty-drawDecoration: false;
}

QProgressBar::chunk {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  width: 20px;
}

/*
 ----- QScrollBar
*/
QSlider:horizontal,
QScrollBar:horizontal {
  background: black;
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
QSlider:vertical,
QScrollBar:vertical {
  background: black;
  width: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
QSlider:horizontal,
QSlider:vertical {
  background: transparent;
}

QSlider::handle,
QScrollBar::handle {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  border: 2px solid silver;
  border-radius: 5px;
}
QSlider::handle:vertical,
QScrollBar::handle:vertical{
  min-height: 24px;
}
QSlider::handle:horizontal,
QScrollBar::handle:horizontal {
  min-width: 24px;
}
QSlider::handle:horizontal:hover,
QSlider::handle:vertical:hover,
QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}

QSlider::handle:horizontal:pressed,
QSlider::handle:vertical:pressed,
QScrollBar::handle:horizontal:pressed,
QScrollBar::handle:vertical:pressed {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}


QSlider::add-line:horizontal,
QScrollBar::add-line:horizontal {
  width: 24px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}
QSlider::sub-line:horizontal,
QScrollBar::sub-line:horizontal {
  width: 24px;
  subcontrol-position: left;
  subcontrol-origin: margin;
  position: absolute;
  right: 24px;
}
QSlider::add-line:vertical,
QScrollBar::add-line:vertical {
  height: 24px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}
QSlider::sub-line:vertical,
QScrollBar::sub-line:vertical {
  height: 24px;
  subcontrol-position: top;
  subcontrol-origin: margin;
  position: absolute;
  bottom: 24px;
}


QScrollBar:left-arrow:horizontal,
QScrollBar::right-arrow:horizontal,
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
  border: 1px solid silver;
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
}
QScrollBar:left-arrow:horizontal {
  image: url(ui/ButtonArrowLeft.png);
}
QScrollBar:right-arrow:horizontal {
  image: url(ui/ButtonPlay.png);
}
QScrollBar:up-arrow:vertical {
  image: url(ui/ButtonArrowUp.png);
}
QScrollBar:down-arrow:vertical {
  image: url(ui/ButtonArrowDown.png);
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical{
  background: none;
}

/*
 ----- QScrollArea
*/
QScrollArea {
  background: transparent;
}
QScrollArea > QWidget
{
  background: transparent;
}
QScrollArea > QWidget > QWidget
{
  background: transparent;
}
QScrollArea > QWidget > QScrollBar
{
  background: palette(base);
}
QScrollArea > QWidget > QScrollBar
{
  background: palette(base);
}

/*
 ----- QComboBox
*/
QComboBox {
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 3px;
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  min-width: 64px;
}

QComboBox:editable {
  background: black;
}

QComboBox QAbstractItemView {
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  selection-background-color: rgb(50, 50, 50);
}

/* shift the text when the popup opens */
QComboBox:on {
  padding-left: 5px;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 24px;

  border-left-width: 1px;
  border-left-color: darkgray;
  border-left-style: solid; /* just a single line */
  border-top-right-radius: 0px; /* same radius as the QComboBox */
  border-bottom-right-radius: 0px;
}

QComboBox::down-arrow {
  border-image: url(ui/ButtonArrowDown.png);
  min-height: 24px;
  min-width: 24px;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

QComboBox[styleSmall="true"] {
  padding: 0px;
  min-width: 0px;
  border: none;
}

QComboBox[styleSmall="true"]:drop-down {
  width: 18px;
}

QComboBox[styleSmall="true"]:down-arrow {
  min-height: 14px;
  min-width: 14px;
  max-height: 14px;
  max-width: 14px;
}


/*
 ----- QSpinBox, QDoubleSpinBox, QTimeEdit
*/
QDoubleSpinBox,
QTimeEdit,
QSpinBox,
CLongLongSpinBox {
  color: white;
  background-color: black;
  padding-right: 16px; /* make room for the arrows */
  border: 2px solid silver;
  border-radius: 10px;
  height: 24px;
}
QDoubleSpinBox:disabled,
QTimeEdit:disabled,
QSpinBox:disabled,
CLongLongSpinBox:disabled {
  color: silver;
  background: black;
}

QDoubleSpinBox::up-button,
QTimeEdit::up-button,
QSpinBox::up-button,
CLongLongSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right; /* position at the top right corner */

  width: 12px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  border: 1px solid silver;
  border-radius: 2px;
}
QDoubleSpinBox::up-button:hover,
QTimeEdit::up-button:hover,
QSpinBox::up-button:hover,
CLongLongSpinBox::up-button:hover {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}
QDoubleSpinBox::up-button:pressed,
QTimeEdit::up-button:pressed,
QSpinBox::up-button:pressed,
CLongLongSpinBox::up-button:pressed {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

QDoubleSpinBox::up-arrow,
QTimeEdit::up-arrow,
QSpinBox::up-arrow,
CLongLongSpinBox::up-arrow {
  image: url(ui/ButtonPlus.png);
  width: 12px;
  height: 12px;
}
QDoubleSpinBox::up-arrow:disabled, QDoubleSpinBox::up-arrow:off,
QTimeEdit::up-arrow:disabled, QTimeEdit::up-arrow:off,
QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off,
CLongLongSpinBox::up-arrow:disabled, CLongLongSpinBox::up-arrow:off { /* off state when value is max */
   image: url(ui/ButtonPlusDisabled.png);
   background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 rgb(38, 38, 38), stop: 1 rgb(38, 38, 38));
}

QDoubleSpinBox::down-button,
QTimeEdit::down-button,
QSpinBox::down-button,
CLongLongSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right; /* position at bottom right corner */

  width: 12px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  border: 1px solid silver;
  border-radius: 2px;
}
QDoubleSpinBox::down-button:hover,
QTimeEdit::down-button:hover,
QSpinBox::down-button:hover,
CLongLongSpinBox::down-button:hover {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}
QDoubleSpinBox::down-button:pressed,
QTimeEdit::down-button:pressed,
QSpinBox::down-button:pressed,
CLongLongSpinBox::down-button:pressed {
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

QDoubleSpinBox::down-arrow,
QTimeEdit::down-arrow,
QSpinBox::down-arrow,
CLongLongSpinBox::down-arrow {
  image: url(ui/ButtonMinus.png);
  width: 12px;
  height: 12px;
}
QDoubleSpinBox::down-arrow:disabled,
QTimeEdit::down-arrow:disabled,
QSpinBox::down-arrow:disabled,
CLongLongSpinBox::down-arrow:disabled,
QDoubleSpinBox::down-arrow:off,
QTimeEdit::down-arrow:off,
QSpinBox::down-arrow:off,
CLongLongSpinBox::down-arrow:off { /* off state when value in min */
   image: url(ui/ButtonMinusDisabled.png);
   background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 rgb(38, 38, 38), stop: 1 rgb(38, 38, 38));
}

/*
 ----- QMenu, QDialog
*/
QMenu,
QDialog {
  color: white;
  background-color: black;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
}

QMenu::item,
QDialog::item {
  padding: 2px 25px 2px 20px;
  border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected,
QDialog::item:selected {
  border-color: silver;
  background: rgba(100, 100, 100, 150);
}

QMenu::icon:checked,
QDialog::item:checked{ /* appearance of a 'checked' icon */
  background: gray;
  border: 1px inset gray;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}

QMenu::separator,
QDialog::separator {
  height: 2px;
  background: White;
  margin-left: 10px;
  margin-right: 5px;
}

QMenu::indicator,
QDialog::indicator {
  width: 13px;
  height: 13px;
}

/*
  ---- COverlayBase
*/
COverlayBase {
  color: white;
  background-color: black;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
}
COverlayBase#HelpButtonOverlay,
COverlayBase#DownloadButtonOverlay,
COverlayBase#DeviceButtonOverlay {
  color: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 0;
}

CTextEditZoomEnabler {
  background-color: rgba(20, 20, 20, 200);
  border-radius: 10px;
  border: none;
  padding: 0;
}

CTextEditZoomEnabler>QLabel {
  color: white;
  background-color: rgba(20, 20, 20, 200);
}

/*
 ----- QHeaderView
*/
QHeaderView::section {
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #760076);
  color: white;
  padding: 0px;
  padding-left: 3px;
  border: 1px solid silver;
}

QHeaderView::section:checked
{
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

/* style the sort indicator */
QHeaderView::down-arrow {
  image: url(ui/ButtonArrowDown.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  subcontrol-position: right center;
  subcontrol-origin: padding;
}

QHeaderView::up-arrow {
  image: url(ui/ButtonArrowUp.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  subcontrol-position: right center;
  subcontrol-origin: padding;
}

/*
 ----- QListView, QTreeView, QTableView
*/
QListView, QTreeView, QTableView {
  color: white;
  background-color: rgb(50, 50, 50);
  alternate-background-color: rgb(100, 100, 100);
}

QListView, QTreeView, QTableView {
  show-decoration-selected: 1; /* make the selection span the entire width of the view */
}

QTreeView#pHelpSearchTree {
  min-width: 100px;
  width: 100px;
}

QListView::item,
QTreeView::item,
QTableView::item {
  margin: 0px 0px 0px 0px;
  border: 0px;
  padding: 0px;
  padding-right: 3px;
  padding-left: 3px;
}

QListView::item::text,
QTreeView::item::text,
QTableView::item::text {
  min-height: 18px;
}

QListView::item:alternate,
QTreeView::item:alternate,
QTableView::item:alternate {
  background: rgb(100, 100, 100);
}

QListView::item:selected,
QTreeView::item:selected,
QTableView::item:selected {
  color: white;
  border: 1px solid silver;
  background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #dd00dd, stop: 1 #aa00aa);
}

QListView::item:hover,
QTreeView::item:hover,
QTableView::item:hover {
  color: white;
  background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #aa00aa, stop: 1 #b900b9);
}

QListView::item:disabled,
QTreeView::item:disabled,
QTableView::item:disabled {
  color: silver;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
  image: url(ui/ButtonPlay.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
  image: url(ui/ButtonArrowDown.png);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
}

CResourceDetailView {
  color: white;
  background-color: transparent;
  qproperty-iconSize: 64px;
  qproperty-spacing: 10px;
}

/*
 ----- QPlainTextEdit
*/
QTextEdit,
QPlainTextEdit,
QTextBrowser {
    background-color: rgb(38, 38, 38);
    color: white;
    border: 1px solid;
    border-color: grey;
    selection-background-color: rgb(38, 38, 38);
}

/*
 ----- Timeline
*/
CTimelineWidget,
CTimelineWidgetBackground,
CTimelineWidget > QWidget,
CTimelineWidget > QWidget > QWidget
{
  background-color: black;
}

CTimelineWidget
{
  qproperty-alternateBackgroundColor: rgb(100, 100, 100);
  qproperty-dropIndicationColor: grey;
  qproperty-gridColor: silver;
  qproperty-outOfRangeColor: rgba(169,169,169, 100);
  qproperty-selectionColor: white;
}

CTimelineWidgetControls
{
  background-color: black;
  border: 1px solid grey;
  border-radius: 0px;

  qproperty-cursorColor: white;
}

CTimelineWidget > CTimelineWidgetControls > QWidget#Controls
{
  border: 1px solid grey;
}

CTimelineWidgetLayer {
  background-color: rgb(38, 38, 38);
  border: 1px solid grey;
  border-radius: 0px;

  min-height: 70;
  max-height: 70;

  qproperty-selectionColor: white;
  qproperty-timelineBackgroundColor: black;
}

CTimelineWidgetLayerBackground {
  qproperty-iconWidth: 16;
  qproperty-iconHeight: 16;
  qproperty-instructionConnectorColor: white;

  qproperty-instructionMarker: url(ui/InstructionIcon.png);
  qproperty-instructionMarkerOpenLeft: url(ui/InstructionIconOpen.png);
  qproperty-instructionMarkerOpenRight: url(ui/InstructionIconClosed.png);
}

/*
 ----- Specific
*/
QMainWindow {
  background-image: url(ui/Background.png);
}

CAndroidMainWindow {
  qproperty-navigationColor: rgba(255, 255, 255, 0);
}

QQuickWidget {
  background-color: rgb(38, 38, 38);
}

CProjectCardSelectionWidget,
CSceneCardSelectionWidget {
  qproperty-selectionColor: rgb(236, 0, 236);
}

CTimerWidget {
  qproperty-primaryColor: rgb(118, 0, 118);
  qproperty-secondaryColor: rgb(185, 0, 100);
  qproperty-tertiaryColor: rgb(236, 0, 236);
}

CScriptEditorWidget {
  qproperty-bracketColor0: rgb(191, 64, 191);
  qproperty-bracketColor1: rgb(255, 191, 0);
  qproperty-bracketColor2: rgb(0, 150, 255);
  qproperty-bracketColor3: rgb(237, 41, 57);
  qproperty-iconFolded: url(ui/ButtonPlay.png);
  qproperty-iconUnfolded: url(ui/ButtonArrowDown.png);
  qproperty-foldAreaBackgroundColor: black;
  qproperty-lineNumberBackgroundColor: black;
  qproperty-lineNumberTextColor: white;
  qproperty-highlightLineColor: rgb(20, 20, 20);
  qproperty-highlightSearchBackgroundColor: black;
  qproperty-highlightSearchColor: silver;
  qproperty-wordHighlightColor: rgb(236, 227, 215);
  qproperty-widgetsBackgroundColor: black;
  qproperty-theme: "Breeze Dark";
}

CEditorSceneNodeWidget {
  background: transparent;
  qproperty-normalBoundaryColor: grey;
  qproperty-selectedBoundaryColor: white;
  qproperty-gradientColor0: rgb(38, 38, 38);
  qproperty-gradientColor1: rgb(20, 20, 20);
  qproperty-gradientColor2: rgb(10, 10, 10);
  qproperty-gradientColor3: black;
  qproperty-shadowColor: rgb(236, 0, 236);
  qproperty-fontColor: white;
  qproperty-fontColorFaded: darkgray;
  qproperty-connectionPointColor: rgb(236, 0, 236);
  qproperty-backgroundColor: rgb(38, 38, 38);
  qproperty-fineGridColor: black;
  qproperty-coarseGridColor: black;
  qproperty-normalConnectionColor: rgb(236, 0, 236);
  qproperty-selectedConnectionColor: rgb(118, 0, 118);
  qproperty-selectedConnectionHaloColor: rgb(236, 0, 236);
  qproperty-hoveredConnectionColor: rgb(118, 0, 118);
  qproperty-warningColor: rgb(255, 147, 38);
  qproperty-errorColor: rgb(255, 38, 38);
}

CNodeDebugWidget {
  qproperty-backgroundColor: rgb(52, 52, 52);
}

CEditorActionBar {
  qproperty-spacing: 1;
}

CResourceDetailView {
  qproperty-iconFile: url(ui/FileIcon.png);
  qproperty-iconFolder: url(ui/FolderIcon.png);
  qproperty-iconLayout: url(ui/ButtonLayout.png);
  qproperty-iconSequence: url(ui/IconSequence.png);
  qproperty-spacing: 6;
}

CResourceModelView {
  qproperty-cardIcon: url(ui/ButtonTitleCard.png);
  qproperty-layoutIcon: url(ui/ButtonLayout.png);
  qproperty-iconSize: 16;
}

CDeviceSelectorWidget {
  qproperty-selectionIcon: url(ui/ButtonPlug.png);
}

CHelpOverlay {
  qproperty-linkColor: #aa00aa;
}

CEditorResourceWidget {
  qproperty-icon: url(ui/ButtonResourceWidget.png) off,
                  url(ui/ButtonResourceWidget.png) on;
}
CEditorResourceDisplayWidget {
  qproperty-icon: url(ui/ButtonResourceDisplay.png) off,
                  url(ui/ButtonResourceDisplay.png) on;
}
CEditorProjectSettingsWidget {
  qproperty-icon: url(ui/ButtonProjectSettings.png) off,
                  url(ui/ButtonProjectSettings.png) on;
}
CEditorSceneNodeWidget {
  qproperty-icon: url(ui/ButtonSceneNodeWidget.png) off,
                  url(ui/ButtonSceneNodeWidget.png) on;
}
CEditorCodeWidget {
  qproperty-icon: url(ui/ButtonCode.png) off,
                  url(ui/ButtonCode.png) on;
}
CEditorPatternEditorWidget {
  qproperty-icon: url(ui/ButtonSequence.png) off,
                  url(ui/ButtonSequence.png) on;
}
CEditorDialogueWidget {
  qproperty-icon: url(ui/ButtonNotification.png) off,
                  url(ui/ButtonNotification.png) on;
}

CAchievementWidget {
  background-color: rgb(38, 38, 38);
  border: 1px solid silver;
  border-radius: 20px;
  padding: 6px;
}

CSelectableResourceLabel {
  qproperty-unsetIcon: url(ui/ButtonBackground.png);
}

CAchievementWidget > CSelectableResourceLabel {
  min-height: 120px;
  min-width: 120px;
  max-height: 120px;
  max-width: 120px;
}

CDebugOverlay {
  background-color: rgba(0, 0, 0, 150);
  border: 0px;
  border-radius: 0px;
}
